<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--Модальное окно выбора заклинаний-->
<div id="choice" class="choice">
    <h2 class="info">Выбор заклинания</h2>
    <div class="choice-content">
        <div id="arifmetic">
            <a href="#"><img src="../../components/modal-dialog/tasks/images/arifmetic.png" height="70" width="90" style="border-radius: 15px;"/></a>
        </div>
        <div id="audio">
            <a href="#"><img src="../../components/modal-dialog/tasks/images/audio_img.png" height="70" width="90"/></a>
        </div>
        <div id="translate">
            <a href="#"><img src="../../components/modal-dialog/tasks/images/translate.png" height="70" width="90"/></a>
        </div>
    </div>
</div>
</body>
</html>